header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-image: url("../images/IMG_5148.png");
  background-size: cover;
  background-position: 50% 80%;
  width: 100vw;
}

@media screen and (orientation: landscape) {
  header {
    height: 60vh;
  }
}

@media screen and (orientation: portrait) {
  header {
    height: 40vh;
  }
}

header span {
  font-size: 6vw;
  font-weight: bold;
  color: #ffffff;
}

#portfolio {
  background-color: #1a1a1a;
  text-align: left;
  color: #ffffff;

  margin: 0;
  padding: 5vw;
}

.portfolioUnderlines {
  height: 3vh;
  background-color: #f3fd0d;
}

#divContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5vh;
  background-color: #333333;
}

#classImage {
  background-image: url("../images/mtStMichelImage.jpeg");
  height: 20vh;
  width: 80vw;
}

.contactDivs {
  border: solid 8px #595959;
  border-radius: 5vh;
  text-align: left;

  margin: 0;
  padding: 5vw;
  background-color: #ffffff;
}
