header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-image: url("../images/crepesHeaderImage.jpg");
  background-size: cover;
  background-position: 50% 80%;
  width: 100vw;
}

@media screen and (orientation: landscape) {
  header {
    height: 60vh;
  }
}

@media screen and (orientation: portrait) {
  header {
    height: 40vh;
  }
}

header span {
  font-size: 6vw;
  font-weight: bold;
  color: #ffffff;
}

#crepesInformation {
  margin: 0;
  padding: 5vw;
  color: white;
  background-color: #217bc4;
}
  
