header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-image: url("../images/crepesHeaderImage.jpg");
  background-size: cover;
  background-position: 50% 80%;
  width: 100vw;
}

@media screen and (orientation: landscape) {
  header {
    height: 60vh;
  }
}

@media screen and (orientation: portrait) {
  header {
    height: 40vh;
  }
}

header span {
  font-size: 6vw;
  font-weight: bold;
  color: #ffffff;
}

#crepesInformation {
  margin: 0;
  padding: 5vw;
  color: white;
  background-color: #135489;
}

 #ingredients_toppings_prices {
   display: flex;
   flex-direction: row;
   padding: 10px;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #333333;
 }

 .itpDivs {
   min-height: 15vh;
   margin: 10px;
   border: solid 8px #595959;
   border-radius: 5vh;
   overflow: hidden;
 }

.itpImages {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 10vh;
   padding: 10px;
   font-size: 20px;
   font-weight: bold;
   color: #ffffff;

   background-size: cover;
 }

#ingredients, #toppings {
   @media screen and (max-width: 700px) {
   width: 80vw; 
   }

   @media screen and (min-width: 701px) {
   width: 40vw; 
   }
}

#ingredientsHeading {
  background-image: url("../images/ingredients.jpg");
  background-position: 50% 0;
}

#toppingsHeading {
  background-image: url("../images/toppings.jpg");
  background-position: 50% 50%
}

#teaHeading {
  background-image: url("../images/tea.jpg");
  background-position: 50% 50%;
}

#ingredientsList, #toppingsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  padding: 10px;
  background-color: #1a1a1a;
  color: #ffffff;
  height: 100%;
}

#ingredientsList p span, #toppingsList p span, #teaList p span {
  margin: 30px 15px 30px 15px ;
}

#prices {
  width: 80vw;
  background-color: #ffffff;
  padding: 10px;
}

#prices h3 {
  margin: 15px;
}

#priceList {
  display: flex;
  flex-direction: row;
}

.priceListElements {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.priceListElements span {
  margin: 5px;
}

#pricesCrepes {
  text-align: left;
  width: 70vw;
}

#pricesCash{
  
  text-align: right;
  width: 30vw;
}

/* Lieferservice */

#service {
  padding: 15px;
  
  display: flex;
  flex-direction: column;
}

#crepesNoteText {
  color: orange;
}

#infoSCDiv, #adresseSCDiv, #prixSCDiv {
  margin: 10px 0 10px 0;
}

#adresseSCDiv, #prixSCDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#adresseSchulCloud {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#adresseSchulCloud img, #adresseSchulCloud span, #prixService span {
  margin-left: 10px;
}
