@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* Alles für den Header */

#headerBienvenue {
  color: #135489;
  font-size: 6vw;
}

#headerJournees {
  font-size: 3vw
}

@media screen and (orientation: landscape){
  .headerDivs {
    height: 60vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #headerDivCenter {
    background-color: #ff0841;
  
    height: 60vh;
    width: 20vw;
  }

}

@media screen and (orientation: portrait){
  .headerDivs {
    height: 40vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #headerDivCenter {
    background-color: #ff0841;
  
    height: 40vh;
    width: 20vw;
  }
}

.headerDivs h1, .headerDivs h3 {
  margin: 5vw;
}

#headerDivLeft {
  background-image: url('images/IMG_5148.png');

  width: 40vw;
}

#headerDivRight {
  background-color: #00279c;
  color: #ffffff;
  width: 40vw;
}

header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  padding: 0;
  margin: 0;
}

/* Einleitungstext */

#opener {
  background-color: #1e201c;
  text-align: left;
  color: #ffffff;

  margin: 0;
  padding: 1vw;
}

#openerUnderline {
  height: 3vw;
  background-color: #f3fd0d;
}
