@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,500&family=Ubuntu:wght@300&display=swap');
/* Alles für den Header */

#headerBienvenue {
  color: #135489;
  font-size: 6vw;
}

#headerJournees {
  font-size: 3vw
}

@media screen and (orientation: landscape){
  .headerDivs {
    height: 60vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #headerDivCenter {
    background-color: #ff0841;
  
    height: 60vh;
    width: 20vw;
  }

}

@media screen and (orientation: portrait){
  .headerDivs {
    height: 40vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #headerDivCenter {
    background-color: #ff0841;
  
    height: 40vh;
    width: 20vw;
  }
}

.headerDivs h1, .headerDivs h3 {
  margin: 5vw;
}

#headerDivLeft {
  background-image: url('images/IMG_5148.png');

  width: 40vw;
}

#headerDivRight {
  background-color: #00279c;
  color: #ffffff;
  width: 40vw;
}

header {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  padding: 0;
  margin: 0;
}

/* Einleitungstext */

#opener {
  background-color: #1a1a1a;
  text-align: left;
  color: #ffffff;

  margin: 0;
  padding: 5vw;
}

#openerUnderline {
  height: 3vh;
  background-color: #f3fd0d;
}

/* Link-Buttons */

#pageLinks {
  display: flex;
  flex-direction: column;
}

.linkDivs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

@media screen and (orientation: landscape){
  .linkTextDivs {
    width = 50vw;
    height = 20vh;
  }

  .linkButtonDivs {
    width = 50vw;
    height = 20vh; 
  }
}

@media screen and (orientation: portrait){
  .linkTextDivs {
    width = 50vw;
    height = 10vh;
  }

  .linkButtonDivs {
    width = 50vw;
    height = 20vh; 
  }
}

.linkTextDivs {
  padding: 2vw;
}

.linkButtonDivs {
  align-items: left;
  padding: 5vw
}

.pageLinkButtons {
  border: 0;
  padding: 10px;
  background-color: #f3fd0d;
}

.pageLinkButtons a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Barlow', sans-serif; 
}

#linkProjetsButtonDiv {
  background-color: #1a1a1a;
}

#linkCrepesButtonDiv {
  background-color: #333333;
}

#linkVisiterButtonDiv {
  background-color: #595959;
}
