@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

#navbar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #135489;

  font-family: 'Ubuntu', sans-serif;
}

#navbarLangue {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  
  margin-left: auto;
}

.navbarbuttons {
  text-align: center;
  padding: 10px;
  font-weight: bold;

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbarbuttons a {
  color: white;
  text-decoration: none;
}
