@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@media screen and (min-width: 701px) {

  /* NavBar bei Geräten mit Viewport-Breite größer 700px (Desktop-Geräte, Tablets, Mobilgeräte im Querformat */

  #navbar-wide {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #135489;

    font-family: 'Ubuntu', sans-serif;
  }

  #navbar-small {
    display: none;
  }

  #navbarLangue {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
  
    margin-left: auto;
  }

  #languageIcon {
    margin: 5px;  
  }

  .navbarbuttons {
    text-align: center;
    padding: 10px;
    font-weight: bold;

    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbarbuttons a {
    color: #ffffff;
    text-decoration: none;
  }
}

@media screen and (max-width: 700px) {

  /* NavBar bei Geräten mit Viewport-Breite kleiner gleich 700px (Mobilgeräte im Hochformat) */
  
  #navbar-wide {
    display: none;
  }

  #navbar-small {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justiify-content: space-between;
    background-color: #135489;
    font-family: 'Ubuntu', sans-serif;
  }

  #navbardropcontent {
    display: none;
    position: absolute;
    background-color: #135489;
    font-family: 'Ubuntu', sans-serif;
  }

  #navbardrop {
    position: relative;
  }

  #navbardrop:hover #navbardropcontent {
    display: flex;
    flex-direction: column;
    
    padding: 0;
  }

  .navbardropbuttons, #navbardrop {  
    text-align: center;
    padding: 10px;
    font-weight: bold;

    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .navbardropbuttons a {
    color: #ffffff;
    text-decoration: none;
  }
  
  #navbarLangue {    
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
  
    margin-left: auto;
  }

  #languageIcon {
    margin: 5px;
  }
}
