header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-image: url("../images/IMG_5148.png");
  background-size: cover;
  background-position: 50% 80%;
  width: 100vw;
}

@media screen and (orientation: landscape) {
  header {
    height: 60vh;
  }
}

@media screen and (orientation: portrait) {
  header {
    height: 40vh;
  }
}

header span {
  font-size: 6vw;
  font-weight: bold;
  color: #ffffff;
}

/* Einleitungstext zu Informationen über die Projekte */

#projetsInformationContainer {
  width: 100vw;
  background-color: #135489;
  margin: 0;
  padding: 2vh 0 2vh 0;
}
  

#projetsInformation {
  padding: 5vw;
  margin: 0 2vw 0 2vw;
  border: solid 8px #595959;
  color: #ffffff;
  background-color: #1a1a1a;
  border-radius: 5vw;
 }

/* Informationen zu den jeweiligen Projekten */
 
 #projetsContainer {
   display: flex;
   flex-direction: row;
   padding: 10px;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #135489;
 }
   
 .projectsDivContainers {
   min-height: 30vh;
   margin: 10px;
   border: solid 8px #595959;
   border-radius: 5vh;
   overflow: hidden;

   @media screen and (max-width: 700px) {
     width: 80vw; 
   }

   @media screen and (min-width: 701px) {
     width: 40vw;
   }
 }
 
 .projectsTopImages {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 10vh;
   padding: 10px;
   font-size: 20px;
   font-weight: bold;
   color: #ffffff;

   background-size: cover;
 }

#project1topImage {
  background-image: url("../images/websiteCoding.jpg");
  background-position: 50% 50%;
}

#project2topImage {
  background-image: url("../images/IMG_5148.png");
}

#project3topImage {
  background-image: url("../images/abiBacDesign.jpg");
  background-position: 50% 60%;
}

#project4topImage {
  background-image: url("../images/braceletFabrication.jpg");
  background-position: 50% 60%;
}

#project5topImage {
  background-image: url("../images/IMG_5148.png");
}

 .projectsInformationTexts {
   padding: 10px;
   background-color: #1a1a1a;
   color: #ffffff;
   height: 100%;
 } 
