@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  background-image: url(https://images.app.goo.gl/8oK3iyqY5kgNh43t9);
  font-family: Avenir Next;
}

#headerBienvenue {
  color: #135489;
}

#headerDivLeft {
  background-image: url(/images/IMG_5148.png);
}

#headerDivCenter {
  background-color: #ff0841;
}

#headerDivRight {
  background-color: #135489;
  color: #ffffff;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;

  padding: 0;
}
