@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  font-family: Avenir Next;
  overflow-x: hidden;
  min-height: 100vh;
}

.subheadings {
  font-size: 20px;
}
